In [3]:
import pandas as pd
from scipy.stats import pearsonr

In [5]:
df=pd.read_csv('C:/Users/Home/Desktop/AIML/Day 7/Day-7/Assignment/general_data.csv')

In [7]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [8]:
df.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [9]:
df.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [10]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
df.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

In [16]:
df.Attrition.replace(to_replace = ('No','Yes'),value = (0,1),inplace = True)

In [23]:
df[['Attrition','Age']].head(10)

   Attrition  Age
0          0   51
1          1   31
2          0   32
3          0   38
4          0   32
5          0   46
6          1   28
7          0   29
8          0   31
9          0   25

In [24]:
df.Gender.replace(to_replace = ('Male','Female'),value = (0,1),inplace = True)

In [25]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,1,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,0,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,0,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,0,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,0,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [52]:
stats,p=pearsonr(df.Attrition,df.Age)
print('Correlation test between Attrition and Age Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and Age Variables

r value is : -0.15920500686577943
P value is : 1.996801615887666e-26

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected

In [53]:
stats,p=pearsonr(df.Attrition,df.DistanceFromHome)
print('Correlation test between Attrition and DistanceFromHome Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and DistanceFromHome Variables

r value is : -0.00973014101017969
P value is : 0.5182860428050771

Negetive Correlation between both variables
as P > 0.05, H0 is Accepted

In [54]:
stats,p=pearsonr(df.Attrition,df.Education)
print('Correlation test between Attrition and Education Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and Education Variables

r value is : -0.01511116771096876
P value is : 0.3157293177118575

Negetive Correlation between both variables
as P > 0.05, H0 is Accepted

In [56]:
stats,p=pearsonr(df.Attrition,df.Gender)
print('Correlation test between Attrition and Gender Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and Gender Variables

r value is : -0.018125078877010273
P value is : 0.22881970951790567

Negetive Correlation between both variables
as P > 0.05, H0 is Accepted

In [57]:
stats,p=pearsonr(df.Attrition,df.JobLevel)
print('Correlation test between Attrition and JobLevel Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and JobLevel Variables

r value is : -0.010289713287494997
P value is : 0.4945171727183978

Negetive Correlation between both variables
as P > 0.05, H0 is Accepted

In [58]:
stats,p=pearsonr(df.Attrition,df.MonthlyIncome)
print('Correlation test between Attrition and MonthlyIncome Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and MonthlyIncome Variables

r value is : -0.031176281698115017
P value is : 0.03842748490600132

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected

In [60]:
stats,p=pearsonr(df.Attrition,df.PercentSalaryHike)
print('Correlation test between Attrition and PercentSalaryHike Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and PercentSalaryHike Variables

r value is : 0.032532594891053514
P value is : 0.030743386433355353

Positive Correlation between both variables
as p < 0.05, H0 is Rejected

In [61]:
stats,p=pearsonr(df.Attrition,df.StockOptionLevel)
print('Correlation test between Attrition and StockOptionLevel Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and StockOptionLevel Variables

r value is : -0.0068388524032615
P value is : 0.6498072937475723

Negetive Correlation between both variables
as P > 0.05, H0 is Accepted

In [62]:
stats,p=pearsonr(df.Attrition,df.TrainingTimesLastYear)
print('Correlation test between Attrition and TrainingTimesLastYear Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and TrainingTimesLastYear Variables

r value is : -0.04943057624425494
P value is : 0.0010247061915365072

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected

In [63]:
stats,p=pearsonr(df.Attrition,df.YearsAtCompany)
print('Correlation test between Attrition and YearsAtCompany Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and YearsAtCompany Variables

r value is : -0.13439221398997714
P value is : 3.1638831224877484e-19

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected

In [64]:
stats,p=pearsonr(df.Attrition,df.YearsSinceLastPromotion)
print('Correlation test between Attrition and YearsSinceLastPromotion Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and YearsSinceLastPromotion Variables

r value is : -0.03301877514258435
P value is : 0.028330336189396753

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected

In [65]:
stats,p=pearsonr(df.Attrition,df.YearsWithCurrManager)
print('Correlation test between Attrition and YearsWithCurrManager Variables\n')
print('r value is :',stats,'\nP value is :',p)
if stats < 0:
    print('\nNegetive Correlation between both variables')
else:
    print('\nPositive Correlation between both variables')
if p < 0.05:
    print('as p < 0.05, H0 is Rejected')
else:
    print('as P > 0.05, H0 is Accepted')

Correlation test between Attrition and YearsWithCurrManager Variables

r value is : -0.1561993159016281
P value is : 1.7339322652904162e-25

Negetive Correlation between both variables
as p < 0.05, H0 is Rejected